
<!DOCTYPE html>

<html lang="zh-Hans" >
<head>
<title>登录 | Cpp Test</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="{% block body_class %}{% endblock %}" data-admin-utc-offset="28800">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
    {% block header %}{% endblock %}
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
    {% block content %}{% endblock %}
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
