{% extends 'user/base.html' %}

{% block body_class %}
    dashboard
{% endblock %}

{% block header %}
        <div id="branding">

<h1 id="site-name"><a href="/web/">Cpp Test</a></h1>

        </div>


        <div id="user-tools">

                欢迎，
                <strong>{{ request.user.username }}</strong>.





                <a href="/web/password_change/">修改密码</a> /

                <a href="/web/logout/">注销</a>

        </div>

{% endblock %}

{% block breadcrumbs %}
{#    <div class="breadcrumbs">#}
{#        {% block breadcrumbs_content %}{% endblock %}#}
{#    </div>#}
{% endblock %}