{% extends 'user/change.html' %}

{% block breadcrumbs %}
    {% if not change_success %}
        <div class="breadcrumbs">
<a href="/web/">首页</a>
&rsaquo; 密码修改
</div>
    {% endif %}
{% endblock %}

{%  block content %}
         <h1>密码修改</h1>
        <div id="content-main">

<form method="post" action="?change=1">{% csrf_token %}
<div>

{% if change_success %}
    <p>你的密码修改成功, 请重新<a href="/">登录</a></p>
{% else %}

<p>请输入你的旧密码，为了安全起见，接着要输入两遍新密码，以便我们校验你输入的是否正确。</p>
{% if error %}
    <p class="errornote">{{ error_message }}</p>
{% endif %}

<fieldset class="module aligned wide">
{% for field in form %}
    <div class="form-row">
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
</fieldset>

<div class="submit-row">
    <input type="submit" value="修改我的密码" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>



        <br class="clear" />
{% endif %}
{% endblock %}