{% extends 'user/base_site.html' %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
{% endblock %}

{% block body_class %}
    app-exams model-exam change-list
{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
<a href="/web/">首页</a>
&rsaquo; <a href="/web/see_scores/">查看成绩</a>
&rsaquo; 具体的成绩
</div>
{% endblock %}

{% block content %}
    {% if has_joined %}
    <div id="changelist">
    <table id="result_list">
    <thead>
    <tr>
    <th scope="col"  class="sortable">

       <div class="text"><span>题目</span></div>
       <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable">

        <div class="text"><span>最终得分</span></div>
        <div class="clear"></div>
    </th>
        <th scope="col"  class="sortable">

        <div class="text"><span>权重</span></div>
        <div class="clear"></div>
    </th>
    </tr>
    </thead>
    <tbody>
    {% for score in score_list %}
        <tr class="row1">
            <td class="action-checkbox-column">{{ score.question.name }}</td>
            <td class="action-checkbox-column">{{ score.score }}</td>
            <td class="action-checkbox-column">{{ score.weight }}</td>
        </tr>
    {% endfor %}
    <tr class="row1">
        <td class="action-checkbox-column">总得分(加权平均和)</td>
        <td class="action-checkbox-column">{{ total_score }}</td>
        <th class="action-checkbox-column"></th>
    </tr>
    </tbody>
    </table>
    </div>
    {% else %}
        <p>
        您还没有参加过任何考试和作业
        </p>
    {% endif %}
{% endblock %}
